---
import Main from '../layouts/Main.astro';
import Card from '../components/Card.astro';
---

<Main title="Top Projects" description="Projects the team here like!">
		<h1>ECS Official Top Projects List</h1>
        <p class="instructions">NOTICE: This list is in no perticular order</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/ThatOtherAndrew/FileForest"
				title="FileForest"
				body="A simple self-hosted personal file hosting and sharing platform"
			/>
			<Card
				href="https://github.com/tweechat"
				title="TweeChat"
				body="Tweechat will hopefully one day be a minimal, performant, highly scalable, and highly crossplatform messaging app for individuals and small groups"
			/>
		</ul>
</Main>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #3D3B50, #615C8C);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #3D3B50;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: list;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
